<h1>Dashboard</h1>

<div class="card mt-4 mb-4">
  <div class="card-body">
    <h5 class="card-title">Personal Data</h5>
    <p class="card-text">View and edit the data that you have available to share with companies.</p>
    <a href="/show_user_profile" class="btn btn-primary">See my data</a>
  </div>
</div>
  
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Trusted Companies</h5>
    <p class="card-text">View and edit the companies that you want to share data with.</p>
    <a href="/user_companies" class="btn btn-primary">See my companies</a>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Preferences</h5>
    <p class="card-text">Set your preferences for the data you want to share with companies.</p>
    <a href="/user_preferences" class="btn btn-primary">See my preferences</a>
  </div>
</div>

<div>
  <a href="/edit_user_password">Change your password</a>
</div>

<div>
  <a href="/delete_user_account">Delete your account</a>
</div>
