<h1>Your Dashboard</h1>

<div>
  <a href="/show_user_profile">Personal Data</a>
</div>

<div>
  <a href="/user/brands">Trusted Brands</a>
</div>

<div>
  <a href="/user/preferences">Preferences</a>
</div>

<div>
  <a href="/user/history">History</a>
</div>

<div>
  <a href="/edit_user_password">Change your password</a>
</div>

<div>
  <a href="/delete_user_account">Delete your account</a>
</div>
