<h1>Preferences</h1>
<p>Establish your default data sharing preferences by selecting the data that you are comfortable sharing with <a href="/user_companies">Trusted Companies</a>.</p>

<div class="mb-3">
  <form action="/update_user_preferences" method="post">
    <ul class="list-group mb-3">
       <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="email" name="email" id="email">
        <label class="form-check-label" for="email">Email</label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="first_name" name="first_name" id="first_name">
        <label class="form-check-label" for="first_name">First name</label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="last_name" name="last_name" id="last_name">
        <label class="form-check-label" for="last_name">Last name</label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="date_of_birth" name="date_of_birth" id="date_of_birth">
        <label class="form-check-label" for="date_of_birth">Date of birth</label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="address" name="address" id="address">
        <label class="form-check-label" for="address">Address</label>
      </li>
    </ul>
    <button type="submit" class="btn btn-primary mb-3">Set preferences</button>
  </form>
</div>

<div class="mb-4">
  <p>You are sharing:</p>
  <ul class="list-group">
    <% if @current_user.share_email == true %>
      <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
        Email
        <span><a href="/delete_user_preference/share_email">Remove</a></span>
      </li>
    <% end %>

    <% if @current_user.share_first_name == true %>
      <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
        First name
        <span><a href="/delete_user_preference/share_first_name">Remove</a></span>
      </li>
    <% end %>

    <% if @current_user.share_last_name == true %>
      <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
        Last name
        <span><a href="/delete_user_preference/share_last_name">Remove</a></span>
      </li>
    <% end %>

    <% if @current_user.share_date_of_birth == true %>
      <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
        Date of birth
        <span><a href="/delete_user_preference/share_date_of_birth">Remove</a></span>
      </li>
    <% end %>

    <% if @current_user.share_address == true %>
      <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
        Address
        <span><a href="/delete_user_preference/share_address">Remove</a></span>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <a href="/user_dashboard">Back to dashboard</a>
</div>
