<h1>Preferences</h1>
<p>Establish your data sharing preferences.</p>

<h2>For Trusted Companies</h2>
<p>Select the data that you are comfortable sharing with Trusted Companies. This will set your default preferences. You can also set company-level preferences for data sharing by visiting your <a href="/user_companies">Trusted Companies</a> page.</p>

<h2>For Other Companies</h2>
<p>For companies that you have not made Trusted Companies, select the data that you are comfortable sharing with them.</p>
