<h1>Trusted Companies</h1>

<ul>
<% @relationships.each do |relationship| %>
  <li><a href="/show_company/<%= relationship.company.id %>"><%= relationship.company.name %></a> | <%= relationship.company.website %></li>
<% end %>
</ul>
