<h1>Your Dashboard</h1>

<div>
  <a href="/show_company_profile">Company Profile</a>
</div>

<div>
  <a href="/">Your Users</a>
</div>

<div>
  <a href="/">Preferences</a>
</div>

<div>
  <a href="/edit_company_password">Change your password</a>
</div>

<div>
  <a href="/delete_company_account">Delete your account</a>
</div>
