<h1>Dashboard</h1>

<div class="card mt-4 mb-4">
  <div class="card-body">
    <h5 class="card-title">Company Profile</h5>
    <p class="card-text">View and edit your company information.</p>
    <a href="/show_company_profile" class="btn btn-primary">See profile</a>
  </div>
</div>
  
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Your Users</h5>
    <p class="card-text">View the users that have listed you as a Trusted Company.</p>
    <a href="/company_users" class="btn btn-primary">See users</a>
  </div>
</div>

<div>
  <a href="/edit_company_password">Change your password</a>
</div>

<div>
  <a href="/delete_company_account">Delete your account</a>
</div>
