<div>
  <h1>Edit Password</h1>

  <% if @company.errors.any? %>
    <% @company.errors.full_messages.each do |message| %>
      <div class="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <form action="/update_company_password" method="post">
    <div class="mb-3">
      <label for="password_box" class="form-label">Password</label>
      <input type="password" id="password_box" name="query_password" placeholder="Choose a new password" class="form-control">
    </div>

    <div class="mb-3">
      <label for="password_confirmation_box" class="form-label">Password Confirmation</label>
      <input type="password" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your new password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary mb-3">Update password</button>
  </form>
</div>
