<div >
  <h5>
    Edit Company Account
  </h5>

  <% if @company.errors.any? %>
    <% @company.errors.full_messages.each do |message| %>
      <div class="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>
  
  <form action="/update_company_profile" method="post">
    <div class="mb-3">
      <label for="email_box" class="form-label">Email</label>
      <input id="email_box" name="query_email" value="<%= @current_company.email %>" class="form-control">
    </div>

    <div class="mb-3">
      <label for="name_box" class="form-label">Name</label>
      <input id="name_box" name="query_name" value="<%= @current_company.name %>" class="form-control">
    </div>

    <div class="mb-3">
      <label for="website_box" class="form-label">Website</label>
      <input id="website_box" name="query_website" value="<%= @current_company.website %>" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary mb-3">Update account</button>
  </form>
</div>
