<div>
  <h1>Edit Password</h1>

  <% if @company.errors.any? %>
  <% @company.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
  <% end %>
  <div>
    <form action="/update_company_password" method="post">    
      <div>
        <label for="password_box">Password</label>
        <input type="password" id="password_box" name="query_password" placeholder="Choose a new password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input type="password" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your new password">
      </div>

      <button>Update password</button>
    </form>
  </div>
</div>
