<h1>Your Profile</h1>

<dl>
  <dt>Company email</dt>
  <dd><%= @company.email %></dd>

  <dt>Company name</dt>
  <dd><%= @company.name %></dd>

  <dt>Website</dt>
  <dd><%= @company.website %></dd>

<a href="/edit_company_profile">Edit your data</a>
