<h1>Company Sign In</h1>

<form action="/company_verify_credentials" method="post">
  <div>
    <label for="email_box">Email</label>
    <input type="text" id="email_box" name="query_email" placeholder="Enter your company email">
  </div>

  <div>
    <label for="password_box">Password</label>
    <input type="password" id="password_box" name="query_password" placeholder="Enter your password">
  </div>

  <button>Sign in</button>
</form>

<hr>

<p>
  Or, <a href="/company_sign_up">Sign up</a> instead.
</p>
