<h1>Individual Sign Up</h1>

<form action="/create_user_account" method="post">
  <div class="mb-3">
    <label for="email_box" class="form-label">Email</label>
    <input type="text" id="email_box" name="query_email" placeholder="Enter your email" class="form-control">
  </div>
                 
  <div class="mb-3">
    <label for="first_name_box" class="form-label">First name</label>
    <input type="text" id="first_name_box" name="query_first_name" placeholder="Enter your first name" class="form-control">
  </div>
         
  <div class="mb-3">
    <label for="last_name_box" class="form-label">Last name</label>
    <input type="text" id="last_name_box" name="query_last_name" placeholder="Enter your last name" class="form-control">
  </div>
    
  <div class="mb-3">
    <label for="password_box" class="form-label">Password</label>
    <input type="password" id="password_box" name="query_password" placeholder="Enter a password" class="form-control">
  </div>

  <div class="mb-3">
    <label for="password_confirmation_box" class="form-label">Password Confirmation</label>
    <input type="password" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm the password" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary mb-3">Sign up</button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
