<h1>Sign up</h1>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input type="text" id="email_box" name="query_email" placeholder="Enter your email">
  </div>
                 
  <div>
    <label for="first_name_box">First name</label>
    <input type="text" id="first_name_box" name="query_first_name" placeholder="Enter your first name">
  </div>
         
  <div>
    <label for="last_name_box">Last name</label>
    <input type="text" id="last_name_box" name="query_last_name" placeholder="Enter your last name">
  </div>
    
  <div>
    <label for="password_box">Password</label>
    <input type="password" id="password_box" name="query_password" placeholder="Enter a password" >
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input type="password" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm the password" >
  </div>

  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
